@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Cuisine>;

<h1>Cuisine</h1>

<ul>
  @foreach(Cuisine cuisine in Model)
  {
      <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new cuisine", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>