@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Review>;

<h1>Restaurant Review</h1>

@if (Model.Count == 0)
{
  <h3>No reviews have been added yet!</h3>
} 
<ul>
@foreach (Review review in Model)
{
  <li>@Html.ActionLink($"{review.Description}", "Details", new { id = review.ReviewId }) | @Html.ActionLink($"{review.Restaurant.Name}", "Details", "Restaurants", new { id = review.RestaurantId })</li>
}
</ul>

<p>@Html.ActionLink("Add new review", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>