@{
  Layout = "_Layout";
}

<h1>Welcome to the literal Best Restaurant Database!</h1>

<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p> 

<p>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>

<p>@Html.ActionLink("See all Reviews", "Index", "Reviews")</p>


